<div class="card-container">
  <% @categories.each do |category| %>
    <div class="card">
      <h3><%= link_to category.name, category_path(category) %></h3>
    </div>
  <% end %>
</div>


<style>
.card {
  width: 48%;
  background-color: #fefee3; /* Match the button color */
  color: #6a994e; /* Match the button text color */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit; /* Inherit the text color from the parent card */
}

</style>
